version: 2.1

executors:
  scanner:
    docker:
      - image: sonarqube:8.9-community

commands:
  check-code-quality:
    description: Check Code Quality
    parameters:
      sonar_server_url:
        type: string
        description: "URL of your SonarQube server. e.g.: http://my.sonarqube,server:9000"
        default: http://65.1.31.213:9000/
      sonar_login:
        description: "Authentication key (sonar.login paramter) to access SonarQube and perform analysis"
        type: string
        default: "$SONAR_TOKEN"

    steps:
        - run:
            name: Install Sonarqube scanner
            command: |
                wget https://binaries.sonarsource.com/Distribution/sonar-scanner-cli/sonar-scanner-cli-4.2.0.1873.zip
                unzip sonar-scanner-cli-4.2.0.1873.zip

        - run:
            name: Run Sonarscanner
            command: |
                export SONAR_SCANNER_OPTS="-Xmx2048m"
                eval ./sonar-scanner-4.2.0.1873/bin/sonar-scanner \
                -Dsonar.projectKey=projectKey \
                -Dsonar.host.url=<< parameters.sonar_server_url >> \
                -Dsonar.sources= . \
                -Dsonar.login=<< parameters.sonar_login >>

jobs:
  check-code-job:
    executor: scanner
    steps:
      - check-code-quality

workflows:
  check-code-quality-flow:
    jobs:
      - check-code-job:
          context: lineclass
